.wrapper {
    animation-name: y;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.wrapper > div {
    animation-name: x;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes x {
    0% {
        transform: translate(-25vw, 0);
    }
    100% {
        transform: translate(25vw, 0);
    }
}


@keyframes y {
    0%, 100% {
      transform: translate(0, 20vh);
    }
    50% {
      transform: translate(0, -20vh);
    }
  }